<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 콘솔 출력 앱렌더 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- root 로거 설정: 필요에 따라 INFO나 DEBUG로 조정 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- 각 패키지에 대한 로거 설정 -->
    <logger name="jdbc" level="OFF" />
    <logger name="jdbc.audit" level="OFF" />
    <logger name="jdbc.sqlonly" level="OFF" />
    <logger name="io.undertow" level="WARN" />
    <logger name="jdbc.resultset" level="OFF" />
    <logger name="jdbc.connection" level="OFF" />
    <logger name="io.netty" level="WARN" additivity="false" />
    <logger name="io.lettuce" level="WARN" additivity="false" />
    <logger name="org.xnio.nio" level="WARN" additivity="false" />
    <logger name="org.thymeleaf" level="WARN" additivity="false" />
    <logger name="com.zaxxer.hikari" level="WARN" additivity="false" />
    <logger name="org.mybatis.spring" level="WARN" additivity="false" />
    <logger name="org.springframework" level="WARN" additivity="false" />

</configuration>