<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <form id="loginForm" class="loginForm" onsubmit="return false;">
        <div class="form-group">
            <label for="userid">ID</label>
            <input type="text" class="form-control" id="userid" name="userid" placeholder="ID를 입력해 주세요">
        </div>
        <div class="form-group">
            <label for="userpw">PW</label>
            <input type="password" class="form-control" id="userpw" name="userpw" placeholder="PW를 입력해 주세요">
        </div>
        <div class="button-container">
            <button type="button" class="btn btn-primary btn-block" id="loginBtn">로그인</button>
            <button type="button" class="btn btn-secondary btn-block" id="joinBtn">회원가입</button>
        </div>
    </form>
</div>

<script defer type="text/javascript" charset="UTF-8" src="/js/login.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script defer th:inline="javascript" type="text/javascript" charset="UTF-8">
    /* <![CDATA[ */
    'use strict';

    const ERROR = /*[[ ${ERROR} ]]*/;
    const MESSAGE = /*[[ ${MESSAGE} ]]*/;


    if(ERROR !== null){
        alert(ERROR);
    }else if(MESSAGE !== null){
        alert(MESSAGE);
    }
    /* ]]> */
</script>

</body>
</html>