<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steamchk.ekeprl.www.common.mapper.CommonMapper">

    <select id="getuserinfo"                        parameterType="String"
                                                    resultType="com.steamchk.ekeprl.www.common.model.LoginModel">
        /*CommonMapper.getuserinfo*/
        SELECT
            ID      AS userid
            ,PW     AS userpw
            ,EMAIL  AS useremail
            ,NM     AS usernm
            ,MEMCODE AS memcode
        FROM MEMBER
        WHERE
            ID = #{userid}

    </select>


    <select id="joinduplicateChk"                       parameterType="String"
                                                        resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE
            ID = #{userid}
    </select>


    <insert id="joinsubmit"                             parameterType="String">
        INSERT INTO MEMBER (MEMCODE,ID, PW, EMAIL, REGDT , UPDDT)
        VALUES (fn_getmemcode() ,#{userid} , #{userpw}, #{useremail}, NOW(), NOW())


    </insert>




</mapper>